---
layout: default
title: Essay Paper in PNG or PDF Format -- Printable Chinese Writing Practice Paper
description: Print essay paper for writing Chinese, Japanese, or Korean words.
category: essay
---
{% include menu-top.html %}


<div id="wrap">
  {% include header.html %}

  <div id="content">
  <span class="subtitle white">Essay Paper</span>

  <table>
  <tr>
    <td id="downloads" class="vtop">

    <p>
      Thumbnail and links go here.
    </p>

    <p>
      <b>Essay paper</b> is a standard format for submitting essays
      or similar assignments.
    </p>

    <p class="timestamp">
      Updated on [date here].
    </p>

    </td>
  </tr>
  </table>
</div> <!-- #content -->

{% include footer.html %}

<br/>
</div> <!-- #wrap -->

{% include css.html %}
{% include js.html %}
</body>
</html>
