<p>
  <h2 class="kaiti taller">{{ include.size }} {{ include.name }}</h2>
  {{ include.dims }}<br/>
  {{ include.grid }} = {{ include.count }} practice tiles
</p>

<p>
  <img class="thumb" align="absmiddle"
    height="250" width="250"
    src="/thumb/t250-{{ include.stub }}.png"
    title="{{ include.name }}: {{ include.stub }}, thumbnail, {{ include.dims }}"
    alt="{{ include.stub }}, thumbnail, {{ include.dims }}"/><br/>
</p>

<p>
  <ul class="downloadfilelist">

    <li><a title="{{ include.stub }}, pdf, {{ include.dims }}"
        alt="{{ include.stub }}, pdf, {{ include.dims }}"
        rel="canonical"          
        href="/pdf/{{ include.stub }}.pdf">Download {{ include.size }} {{ include.name }} PDF</a></li>

    <div class="g-savetodrive"
     data-src="https://print.chinesewritingpaper.com/pdf/{{ include.stub }}.pdf"
     data-filename="{{ include.stub }}.pdf"
     data-sitename="ChineseWritingPaper.com">
    </div>
    
    <li><a title="{{ include.stub }}, png, {{ include.dims }}"
        alt="{{ include.stub }}, png, {{ include.dims }}"
        rel="canonical"
        href="/png/{{ include.stub }}.png">Download {{ include.size }} {{ include.name }} PNG</a></li>
 
    <div class="g-savetodrive"
     data-src="https://print.chinesewritingpaper.com/png/{{ include.stub }}.png"
     data-filename="{{ include.stub }}.png"
     data-sitename="ChineseWritingPaper.com">
    </div>
  
  </ul>
</p>

<br/>
<br/>

<p class="paperhashtag">
  #{{ include.stub }}
</p>
