<center class="topmenu">
           <a rel="canonical" href="/214kangxiradicalschart.html">kangxi radicals chart</a>
    &nbsp; <a rel="canonical" href="/tianzige.html">tian zi ge paper</a>
    &nbsp; <a rel="canonical" href="/fanggezhi.html">square tiles paper </a><br/>
    &nbsp; <a rel="canonical" href="/mizige.html">mi zi ge paper</a>
    &nbsp; <a rel="canonical" href="/jiugongge.html">jiu gong ge paper</a>
    &nbsp; <a rel="canonical" href="/huigongge.html">hui gong ge paper</a><br/>
    &nbsp; <a rel="canonical" href="/essay.html">essay paper</a>
    &nbsp; <a rel="canonical" href="/genkoyoshi.html">genko yoshi</a>
</center>

